<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Layout</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <figure>Logo</figure>
      <nav>
        <ul class="link">
          <li>Home</li>
          <li>Cursos</li>
          <li>Instructores</li>
          <li>Blogpost</li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <div>Anuncio</div>
        <div>Anuncio</div>
        <div>Anuncio</div>
        <div>Anuncio</div>
      </aside>
      <section>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam commodi
        ipsa expedita aliquid iure minima architecto dolorum sit asperiores? Id
        nesciunt repudiandae provident dolor temporibus!
      </section>
    </main>
    <footer>
      <div id="contact">Contacto</div>
      <div id="info">Información</div>
    </footer>
  </body>
</html>
